PORT=3000
SUPABASE_URL=https://qkbogqdniddpxmsaubil.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFrYm9ncWRuaWRkcHhtc2F1YmlsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTQ5Mzk0NywiZXhwIjoyMDk3MDY5OTQ3fQ.DQ0ral-_CzLenskiJRNWewd7mft8ixHURAoT3hDHtog
JWT_SECRET=8IlDxtisxPrGwNaoktcpMLozRf/5LZoZjaauGHkDK/4aYAc4/hN+j7b3EQ69aOhnpK+k48AFFArYBRsS0mkDeg==
